

@media (min-width: 992px){
.col-md-3 {
    width: 25%;
    position: fixed;
}
}
@media (min-width: 992px){
    .col-md-6 {
        width: 50%;
    }
    }

    .navbar{
        padding: 0;
    }
    .main-container{
        display: flex;
        justify-content: center;
    }

    a.cover-image {
        padding: 0px;
    }

   
    table {
        border-collapse: separate;
        border-spacing: 0px 5px;
    }

    .main-title{
        color: #7e0e0e;
        font-size: small;
        font-weight: 700;
    }

    thead {
        background: #93008d;
        color: white;
        text-align: center;
        border: #706e70;
    }


    td {
        text-align: center;
        border: 1px solid #93008d;
        color: #676767;
        font-size: larger;
        font-weight: 700;
        padding: 5px;
        box-shadow: inset 0px 4px 10px rgb(212 121 230 / 80%);
    }


@media (max-width: 400px){
    td{
        font-size: 12px;
    }
}

    tr {
        border: 2px solid #93008d;
    }
    .party-logo {
        float: left;
        margin-left: 10px;
    }

    hr:not([size]) {
        height: 2px;
    }

 
   hr.my-4.bg-dark.font-weight-bold {
    margin-left: 15px;
    margin-right: 15px;
   }

   svg#upArrow {
    width: 22px;
    height: 23px;
    position: relative;
    bottom: 3px;
   }

svg#ArrowDown {
    width: 23px;
    height: 17px;
}



a{
    text-decoration: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    width: 153px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    width: 153px;
}
.text-dark {
    font-weight: 500;
}
@media screen and (max-width: 767px){
.list-group-flush {
    border-radius: 0;
    overflow: auto;
   display: flex;
   flex-wrap: wrap;

}
}

.thumb-icon.col-md-12.col-sm-12.px-0 {
    display: flex;
    justify-content: center;
}

.thumb-icon svg{
    width: 24px;
}
  
.list-group-flush{
    overflow: auto;
}

h4.can_name {
    font-size: 12px;
}

a.constituency {
    font-size: 16px;
    color: red;
}

.tn-election-result-table table td{
    border: 1px solid rgb(147 146 147);  
}

.text-dark.region-wise-national th {
    border: 1.5px solid rgb(147 146 147);
}
.region-wise-table td {
border: 1.5px solid rgb(147 146 147);
}

.text-dark.state-wise-national th {
    border: 1.5px solid rgb(147 146 147);
}
.state-wise-table td {
border: 1.5px solid rgb(147 146 147);
}

table.zone-wise-table td {
    border: 1.4px solid rgb(147 146 147);
}

table.tn-constituency-level-table td {
    border: 1.4px solid rgb(147 146 147);
}

.more-button p{
    color: #676767;
    border: 2px solid grey;
    border-radius: 18px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
}

.main-ad-block{
border: 1px solid black;
}

th.streched-row {
    padding: 5px;
    font-size: 26px;
    color: rgb(147 146 147);
}
