

@media (min-width: 992px){
.col-md-3 {
    width: 25%;
    position: fixed;
}
}
@media (min-width: 992px){
    .col-md-6 {
        width: 50%;
    }
    }

    .navbar{
        padding: 0;
    }
    .main-container{
        display: flex;
        justify-content: center;
    }

    a.cover-image {
        padding: 0px;
    }

   
    table {
        border-collapse: separate;
        border-spacing: 0px 5px;
    }

    .main-title{
        color: #7e0e0e;
        font-size: small;
        font-weight: 700;
    }

    thead {
        background: #93008d;
        color: white;
        text-align: center;
        border: #706e70;
    }


    td {
        text-align: center;
        border: 1px solid #93008d;
        color: #676767;
        font-size: larger;
        font-weight: 700;
        padding: 5px;
        box-shadow: rgb(147 0 141) 0px -2px 4px -1px inset, rgb(147 0 141) 0px 17px 8px -43px, rgb(147 0 141) 0px 50px 100px -20px;
        background: #edc6fe;
    }

    tr {
        border: 2px solid #93008d;
    }
    .party-logo {
        float: left;
        margin-left: 25px;
    }

    hr:not([size]) {
        height: 2px;
    }

 
   hr.my-4.bg-dark.font-weight-bold {
    margin-left: 15px;
    margin-right: 15px;
   }